.call-to-action {
    background-color: #0067f4;
}
.call-action-image {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.justify-content-end{
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.call-action-content .call-title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    line-height: 55px;
}
.call-action-content .text {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin-top: 16px;
}
.call-action-content .call-newsletter {
    max-width: 410px;
    position: relative;
    margin: 24px auto 0;
}
.call-action-content .call-newsletter input {
    width: 100%;
    height: 56px;
    border: 0;
    border-radius: 50px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 30px;
}
.call-action-content .call-newsletter .icon {
    font-size: 26px;
    color: #0067f4;
    position: absolute;
    left: 18px;
    top: 8px;
}
.call-action-content .call-newsletter button {
    border: 0;
    border-radius: 50px;
    height: 48px;
    padding: 0 32px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #0067f4;
    transition: all .3s ease-out 0s;
}

@media screen and (max-width:766px) {
    .button {
        border: 0;
        border-radius: 50px;
        height: 48px;
        padding: 0 32px;
        font-size: 16px;
        font-weight: 700;
        color: #0067f4;
        text-transform: uppercase;
        cursor: pointer;
        top: 4px;
        right: 4px;
        margin-top: 10px;
        background-color: #fff;
        transition: all .3s ease-out 0s;
    }
    .call-action-content .call-title {
        font-size: 28px;
        font-weight: 600;
        color: #fff;
        line-height: 35px;
    }
    .call-action-content .text {
        font-size: 13px;
        color: #fff;
        line-height: 18px;
        margin-top: 10px;
    }
}
