/* 

.header-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#fff;
}
.header-container .navigation{
    justify-content: space-between;
    width: 90%;
}

*/

.nav-social{
    display: flex;
} 


.navbarInActive{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 55;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.navbarActive{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 55;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: transparent;
   
}

.header {
   
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 55;
    transition: .3s ease-in;
    overflow: hidden;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .navbar .app-logo{
    height: 40px;
    width:50px;
    align-self:center
}

/* .header .nav-menu a {
    color: #ffffff;
} */

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-item .active {
    padding-bottom: 12px;
    border-bottom: 5px dashed #508DC7;
    text-decoration: none;
    position: relative;

}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 5px dashed #508DC7;
    text-decoration: none;
    color: #508DC7;
    
}

.hamburger {
    display: none;
}

.social-icon{
    margin-right:10px;
    text-decoration:none;
    color: #50514f;
}

@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: #fff;
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 50vh;
        z-index: 999;
        text-align: left;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    /* .nav-item {
        margin: 1.5rem 0;
    } */

    .header .navbar img {
        width: 150px;
    }
}















